<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/assets/css/styles.css"/>
   <title>Login</title>
</head>
<body>
      <div class="bloc">
         <img src="./assets/images/logo.png" class="logo"/>

         <div class="paragraph">
            Pour réinitialiser votre mot de passe, entrez le code reçu par mail
         </div>

         <div class="warning">
            <%= error_message %>
         </div>
         
         <form class="form" action="/check_email_pwd_code" method="POST">
            <div class="form-group first verify">
               <label for="code">code</label>
               <input name="code" class="input" type="text" placeholder="ex : 12345">
               <input name="email" type="hidden" value="<%= email%>"
            </div>

            <div class="button_area">
               <button class="button" type="submit">Continuer</button>
            </div>
         </form>
      </div>
</body>
</html>
