<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./assets/css/styles.css"/>
   <title>Login</title>
</head>
<body>
   <div class="bloc">
      <img src="./assets/images/logo.png" class="logo"/>
      
      <div class="paragraph">
         Mot de passe oublié ?
      </div>
      <div class="p-forgotten">
         Entrez votre addresse mail pour pourvoir le réinitialiser
      </div>

      <form action="/check_email_pwd" method="POST">
         <div class="form-group email">
            <label for="email">Email</label>
            <input name="email" class="input" type="text" placeholder="ex : securit@gmail.com">
         </div>

         <div class="warning">
            <%= error_message %>
         </div>

         <div class="button_area button-forgotten">
            <button class="button" type="submit">continuer</button>
         </div>
      </form>

   </div>
</body>
</html>
