<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/assets/css/styles.css"/>
   <title>Login</title>
</head>
<body>
   <div class="bloc">
      <img src="./assets/images/logo.png" class="logo"/>
   
      <div class="display-register">
         <%= email %> 
      </div>

      <div class="paragraph">
         Entrez votre nom et choisissez un mot de passe
      </div>
      
      <form class="form" action="/save_new_account" method="POST">
         <input name="email" type="hidden" value="<%= email %>">

         <div class="form-group name name-register">
            <label for="name">Name</label>
            <input name="name" class="input" type="text" placeholder="ex : securit31">
         </div>

         <div class="form-group password password-register">
            <label for="password">Password</label>
            <input name="password" class="input" type="password" placeholder="********"><br>
         </div> 

         <div class="form-group password-confirm">
            <label for="confirmPwd">Password (confirm)</label>
            <input name="confirmPwd" class="input" type="password" placeholder="********"><br>
         </div> 

         <div class="warning">
            <%= error_message %>
         </div>

         <div class="button_area">
            <button class="button" type="submit">créer</button>
         </div>
      </form>

   </div>
</body>
</html>
